{% extends 'main/index.html.twig' %}

{% block body %}
	<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
		<div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
			<div class="d-flex align-items-center justify-content-center w-100">
				<div class="row justify-content-center w-100">
					<div class="col-md-8 col-lg-6 col-xxl-3">
						<div class="card mb-0">
							<div class="card-body">
								<h4 class="text-center fw-bolder">Forgot Password</h4>
								<hr>
								{{ include('/components/flash_messages.html.twig') }}
								{{ form_start(form) }}

								{{ form_row(form.email, { attr: { "autofocus": true } }) }}

								{{ form_widget(form) }}

								<button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" type="submit">Submit</button>
								{{ form_end(form) }}

								<div class="d-flex align-items-center justify-content-center">
									<p class="fs-4 mb-0 fw-bold">Go to Login page?</p>
									<a class="text-primary fw-bold ms-2" href="{{ path('app_login') }}">Sign In</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
