<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}
				Company
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		<!-- Javascript start -->
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<!-- Javascript end -->
	</head>
	<body>
		{% block body %}
		{{ include('/components/flash_messages.html.twig') }}
			<div class="container text-center">
				<div class="d-flex justify-content-center mt-5 pt-5">
					<a href="{{ path('app_user_register') }}" class="btn btn-outline-primary mx-2">Register as Employee</a>
					<a href="{{ path('app_company_register') }}" class="btn btn-outline-danger mx-2">Register as company</a>
				</div>
				<a href="{{ path('app_login') }}" class="btn btn-outline-success mt-2 w-25">Login</a>
			</div>
		{% endblock %}
	</body>
</html>
