{% extends 'base.html.twig' %}

{% block title %}Login User
{% endblock %}

{% block body %}
	<div class="form-bg" id="login">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="form-container">
						<h3 class="title">Login</h3>
						<form method="post" class="form-horizontal">

							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% for flash in app.flashes('success') %}
								<div class="alert alert-success">{{ flash }}</div>
							{% endfor %}

							{% for flash in app.flashes('error') %}
								<div class="alert alert-danger">{{ flash }}</div>
							{% endfor %}

							<div class="col-12 form-group">
								<label for="inputEmail">Email</label>
								<input type="email" name="email" id="inputEmail" class="form-control" value="{{ last_username }}" required autofocus>

								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
							</div>

							<div class="col-12 form-group">
								<label for="inputPassword">Password</label>
								<input type="password" name="password" id="inputPassword" class="form-control" required>
							</div>

							<br>
							<div class="col-12 form-group">
								<input type="checkbox" name="_remember_me" id="rememberMe"/>
								<label for="rememberMe">Remember Me</label>
							</div>

							<span class="signin-link">Don't have an account? Please create here
								<a href="{{ path('app_register') }}">Register</a>
							</span>
							<button class="btn signup" type="submit">Login</button>

						</form>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
