{% extends 'base.html.twig' %}

{% block title %}Admin | List
{% endblock %}

{% block sidebar %}
	{{ include('/admin/components/adminsidebar.html.twig') }}
{% endblock %}
{% block navbar %}
	{{ include('/components/navbar.html.twig') }}
{% endblock %}

{% block layout %}
	<div class="container">
		<div class="row mt-4 d-flex justify-content-between text-center">
			<h3 class="col-lg-10">All User</h3>
			<div class="col-lg-2 float-right">
				<a href="{{ path('app_sa_admin_create') }}" class="btn btn-primary">
					Add Data
                </a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<table id="admin_dt" class="ui celled table text-center align-middle" {{ stimulus_controller('dataTable', { url: path('app_sa_admin_dt') } ) }}>
					<thead>
						<tr>
							<th>Username</th>
							<th>Company</th>
							<th>Is Verified</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
                    <tbody>
                    </tbody>
				</table>
			</div>
		</div>
	{% endblock %}


{% block footer %}
	{{ include('/components/footer.html.twig') }}
{% endblock %}
