{% extends 'superadmin/index.html.twig' %}

{% block title %}
	Super Admin | Create Subscription Plan
{% endblock %}

{% block metatags %}
	<meta name="turbo-cache-control" content="no-preview">
{% endblock %}


{% block layout %}
	<div class="container border p-5 mt-5">
		<h1>Subscription</h1>

		<div class="container">
			{{ form_start(form, { 'attr' : { 'novalidate':"novalidate", "class":"form" }}) }}
			<div class="container" {{ stimulus_controller('customType', { "url": path('select_subscription_type')} )}}>
				<div class="row">
					<div class="col-md-12">
						{{ form_row(form.type, {'attr': {'class':'select_type'}|merge(stimulus_action('customType', 'changeValue').toArray())}) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div id="custom_type">
							{% if form.customType is defined %}
								{{ form_row(form.customType) }}
							{% endif %}
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-4">
						{{ form_row(form.criteria_dept) }}
					</div>
					<div class="col-md-4">
						{{ form_row(form.criteria_user) }}
					</div>
					<div class="col-md-4">
						{{ form_row(form.criteria_storage) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						{{ form_row(form.duration) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.price) }}
					</div>
				</div>

				<button type="submit" class="btn btn-success">Create</button>
			</div>
			{{ form_end(form) }}

		</div>

		<br>
	</div>
{% endblock %}