<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>SuperAdmin dashboard</title>
		<link rel="stylesheet" href="{{ asset('style/SuperAdmin/style.css') }}"/>
		<link rel="stylesheet" href="{{ asset('style/SuperAdmin/cardliststyle.css') }}"/>
		<link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
		<script src="{{ asset('js/SuperAdmin/script.js') }}" defer></script>       
	</head>
	<body>
		<nav class="sidebar locked">
			<div class="logo_items flex">
				<span class="nav_image">
					<img src="{{ asset('images/logo.png') }}" alt="logo_img"/>
				</span>
				<span class="logo_name">CMS</span>
				<i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
				<i class="bx bx-x" id="sidebar-close"></i>
			</div>

			<div class="menu_container">
				<div class="menu_items">

					<li class="item">
						<a href="#" class="link flex">
							<i class='bx bxs-dashboard'></i>
							<span>Dashboard</span>
						</a>
					</li>

					<ul class="menu_item">
						<div class="menu_title flex">
							<span class="title">Admin</span>
							<span class="line"></span>
						</div>
						<li class="item">
							<a href="#" class="link flex">
								<i class='bx bx-message-square-add'></i>
								<span>Create Admin</span>
							</a>
						</li>
						<li class="item">
							<a href="#" class="link flex">
								<i class="bx bx-grid-alt"></i>
								<span>List Admin</span>
							</a>
						</li>
					</ul>


					<ul class="menu_item">
						<div class="menu_title flex">
							<span class="title">Company</span>
							<span class="line"></span>
						</div>
						<li class="item">
							<a href="#" class="link flex">
								<i class='bx bx-message-square-add'></i>
								<span>Create Company</span>
							</a>
						</li>
						<li class="item">
							<a href="#" class="link flex">
								<i class="bx bx-grid-alt"></i>
								<span>List Company</span>
							</a>
						</li>
					</ul>
				</div>

                
				<div class="sidebar_profile flex">
					<span class="nav_image">
						<img src="{{ asset('images/profile.jpg') }}" alt="logo_img"/>
					</span>
                    
					<div class="data_text">
                        
						<span class="name">David Oliva</span>
						<span class="email">david@gmail.com</span>
					</div>
                    
				</div>
			</div>
		</nav>

		<div class="ag-format-container">
			<div class="ag-courses_box">
				<div class="ag-courses_item">
					<a href="#" class="ag-courses-item_link">
						<div class="ag-courses-item_bg"></div>

						<div class="ag-courses-item_title">
							UX/UI Web-Design&#160;+ Mobile Design
						</div>

						<div class="ag-courses-item_date-box">
							Start:
							<span class="ag-courses-item_date">
								04.11.2022
							</span>
						</div>
					</a>
				</div>
                <div class="ag-courses_item">
					<a href="#" class="ag-courses-item_link">
						<div class="ag-courses-item_bg"></div>

						<div class="ag-courses-item_title">
							UX/UI Web-Design&#160;+ Mobile Design
						</div>

						<div class="ag-courses-item_date-box">
							Start:
							<span class="ag-courses-item_date">
								04.11.2022
							</span>
						</div>
					</a>
				</div>
                <div class="ag-courses_item">
					<a href="#" class="ag-courses-item_link">
						<div class="ag-courses-item_bg"></div>

						<div class="ag-courses-item_title">
							UX/UI Web-Design&#160;+ Mobile Design
						</div>

						<div class="ag-courses-item_date-box">
							Start:
							<span class="ag-courses-item_date">
								04.11.2022
							</span>
						</div>
					</a>
				</div>
                <div class="ag-courses_item">
					<a href="#" class="ag-courses-item_link">
						<div class="ag-courses-item_bg"></div>

						<div class="ag-courses-item_title">
							UX/UI Web-Design&#160;+ Mobile Design
						</div>

						<div class="ag-courses-item_date-box">
							Start:
							<span class="ag-courses-item_date">
								04.11.2022
							</span>
						</div>
					</a>
				</div>
                <div class="ag-courses_item">
					<a href="#" class="ag-courses-item_link">
						<div class="ag-courses-item_bg"></div>

						<div class="ag-courses-item_title">
							UX/UI Web-Design&#160;+ Mobile Design
						</div>

						<div class="ag-courses-item_date-box">
							Start:
							<span class="ag-courses-item_date">
								04.11.2022
							</span>
						</div>
					</a>
				</div>
                <div class="ag-courses_item">
					<a href="#" class="ag-courses-item_link">
						<div class="ag-courses-item_bg"></div>

						<div class="ag-courses-item_title">
							UX/UI Web-Design&#160;+ Mobile Design
						</div>

						<div class="ag-courses-item_date-box">
							Start:
							<span class="ag-courses-item_date">
								04.11.2022
							</span>
						</div>
					</a>
				</div>
                <div class="ag-courses_item">
					<a href="#" class="ag-courses-item_link">
						<div class="ag-courses-item_bg"></div>

						<div class="ag-courses-item_title">
							UX/UI Web-Design&#160;+ Mobile Design
						</div>

						<div class="ag-courses-item_date-box">
							Start:
							<span class="ag-courses-item_date">
								04.11.2022
							</span>
						</div>
					</a>
				</div>
                <div class="ag-courses_item">
					<a href="#" class="ag-courses-item_link">
						<div class="ag-courses-item_bg"></div>

						<div class="ag-courses-item_title">
							UX/UI Web-Design&#160;+ Mobile Design
						</div>

						<div class="ag-courses-item_date-box">
							Start:
							<span class="ag-courses-item_date">
								04.11.2022
							</span>
						</div>
					</a>
				</div>
                <div class="ag-courses_item">
					<a href="#" class="ag-courses-item_link">
						<div class="ag-courses-item_bg"></div>

						<div class="ag-courses-item_title">
							UX/UI Web-Design&#160;+ Mobile Design
						</div>

						<div class="ag-courses-item_date-box">
							Start:
							<span class="ag-courses-item_date">
								04.11.2022
							</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
