<html>
	<head>
		<meta charset="UTF-8">
		<title>Pricing Table</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="{{ asset('style/Admin/subscription.css') }}">
	</head>
	<body>
		<section>
			<div class="container-fluid">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="card text-center">
								<div class="title">
									<i class='bx bxl-discourse'></i>
									<h2>Silver</h2>
								</div>
								<div class="price">
									<h4>
										<sup>$</sup>
										{{ silver.price }}</h4>
								</div>
								<div class="option">
									<ul>
										<li>
											<i class="fa fa-check" aria-hidden="true"></i>
											{{ silver.criteriaDept }}
											Department ,{{ silver.criteriaUser }}
											User,{{ silver.criteriaStorage }}
											Storage
										</li>
										<li>
											<i class="fa fa-check" aria-hidden="true"></i>
											{{ silver.duration }}
										</li>
										<li>
											<i class="fa fa-times" aria-hidden="true"></i>
											Live Support
										</li>
									</ul>
								</div>
								<a href="{{ path('app_admin_subscription_update_status',{id:silver.id}) }}">
									{{ silver.isActive ? 'INACTIVE':'ACTIVE' }}
								</a>&nbsp;
								{% if silver.isActive %}
									<a href="{{ path('app_admin_subscription_update',{slug:'silver'}) }}">EDIT</a>
								{% endif %}
							</div>
						</div>
						<!-- END Col one -->
						<div class="col-sm-4">
							<div class="card text-center">
								<div class="title">
									<i class='bx bx-cloud'></i>
									<h2>Gold</h2>
								</div>
								<div class="price">
									<h4>
										<sup>$</sup>
										{{ gold.price }}</h4>
								</div>
								<div class="option">
									<ul>
										<li>
											<i class="fa fa-check" aria-hidden="true"></i>
											{{ gold.criteriaDept }}
											Department ,{{ gold.criteriaUser }}
											User,{{ silver.criteriaStorage }}
											Storage
										</li>
										<li>
											<i class="fa fa-check" aria-hidden="true"></i>
											{{ gold.duration }}
										</li>
										<li>
											<i class="fa fa-times" aria-hidden="true"></i>
											Live Support
										</li>
									</ul>
								</div>
								<a href="{{ path('app_admin_subscription_update_status',{id:gold.id}) }}">
									{{ gold.isActive ? 'INACTIVE':'ACTIVE' }}
								</a>&nbsp;
								{% if gold.isActive %}
									<a href="{{ path('app_admin_subscription_update',{slug:'gold'}) }}">EDIT</a>
								{% endif %}
							</div>
						</div>
						<!-- END Col two -->
						<div class="col-sm-4">
							<div class="card text-center">
								<div class="title">
									<i class='bx bxs-crown'></i>
									<h2>Premium</h2>
								</div>
								<div class="price">
									<h4>
										<sup>$</sup>
										{{ premium.price }}</h4>
								</div>
								<div class="option">
									<ul>
										<li>
											<i class="fa fa-check" aria-hidden="true"></i>
											{{ premium.criteriaDept }}
											Department ,{{ premium.criteriaUser }}
											User,{{ premium.criteriaStorage }}
											Storage
										</li>
										<li>
											<i class="fa fa-check" aria-hidden="true"></i>
											{{ premium.duration }}
										</li>
										<li>
											<i class="fa fa-times" aria-hidden="true"></i>
											Live Support
										</li>
									</ul>
								</div>
								<a href="{{ path('app_admin_subscription_update_status',{id:premium.id}) }}">
									{{ premium.isActive ? 'INACTIVE':'ACTIVE' }}
								</a>&nbsp;
								{% if premium.isActive %}
									<a href="{{ path('app_admin_subscription_update',{slug:'premium'}) }}">EDIT</a>
								{% endif %}
							</div>
						</div>
						<!-- END Col three -->
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
